@font-face {
    font-family: Barlow; /* Гарнитура шрифта */
    src: url(Barlow-Medium.ttf); /* Путь к файлу со шрифтом */
}

* {
	margin: 0;
	padding: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background: ffffff;
	font-family: 'Roboto';
	font-weight: 700;
    font-style: normal;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5;
	color: #777777;
}

.row {
    margin-right: 0px; 
    margin-left: 0px; 
}

p {
    margin-top: 0;
    margin-bottom: 0rem; 
}

a {
	color: inherit;
}

div{	
	display: block;
}

img{
	object-fit: cover;
	opacity: 1;
  	transition: opacity 0.3s;
}

img[data-src] {
	opacity: 0;
}

button{
	cursor: pointer;
	outline: none;
}

button:focus {
    outline: 0px dotted;
    outline: 0px auto -webkit-focus-ring-color;
}

@media (max-width: 991px) {
	.version-pc{
		display: none;
	}
}

@media (min-width: 992px) {
	.version-mb{
		display: none;
	}
}

a:hover,
a:focus {
    color:  #fff;
}

hr {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #fff;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

.wrapper{
	display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
	flex-direction: column;
	min-height: 100%;
	width: 100%;
    margin: 0 auto;
}

.container {
	height: 100%;
    margin: 0 auto;
}

@media (min-width: 576px){
	.container {
		padding-right: 0px;
		padding-left: 0px;
	}
}

.content{
	flex: 1 0 auto;
	width: 100%;
}

/* шапка */
.header{
	display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
	justify-content: space-between;
	font-size: 1rem;
}

.header a{
	color: inherit;
}

.header .main-menu ul{
	display: -ms-flexbox;
    display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	text-decoration: none;
	list-style: none;
}

.header .main-menu li{
	padding-left: 45px;
}

.header .main-menu hr {
    width: 20px;
    border-top: 1px solid #06060a;
    border-bottom: 1px solid #06060a;
}

input.search-form {
    background: transparent;
    border: 0 none;
    width: 60px;
    padding: 0 10px;
    color: #FFF;
    -webkit-transition: all 400ms;
    transition: all 400ms;
}

input.search-form::-webkit-input-placeholder { color: transparent; }
input.search-form:-moz-placeholder { color: transparent; } /* FF 4-18 */
input.search-form::-moz-placeholder { color: transparent; } /* FF 19+ */
input.search-form:-ms-input-placeholder { color: transparent; } /* IE 10+ */

input.search-form:hover::-webkit-input-placeholder { color: #fff; }
input.search-form:hover:-moz-placeholder { color: #fff; } /* FF 4-18 */
input.search-form:hover::-moz-placeholder { color: #fff; } /* FF 19+ */
input.search-form:hover:-ms-input-placeholder { color: #fff; } /* IE 10+ */

input.search-form:hover {
    width: 180px;
}


@media (max-width: 767px){
	input.search-form, input.search-form:hover {
		width: 180px;
		border: 1px solid #fff;
	}
}


@media (max-width: 993px) {
	.header .main-menu{
		margin-top: 30px;
	}

	.header .main-menu li{
		padding-left: 0px;
		padding-right: 45px;
	}
}

.bsnav {
    background: none;
}

.navbar {
    padding: 30px 0px;
}

.navbar-collapse {
    -ms-flex-positive: inherit;
    flex-grow: inherit;
}


/* слайдер */
.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    border-radius: 50%;
    border: 1px solid #f8f7f8;
    padding: 45px;
}

.carousel-indicators li{
	background-color: #ffffff;
}

.carousel-indicators .active{
	background-color: #000000;
}

.carousel-inner{
	height: 650px;
}

.carousel-item{
	height: 100%;
}

.carousel-item img{
	width: 100%;
	height: 100%;
}

.carousel-caption {
	color: #000000;
	font-weight: 300;
	bottom: 40%;
	width: 50%;
	margin: 0px auto;
}

.carousel-caption h5{
	font-size: 3.4rem;
	letter-spacing: 5px;
	color: #fff;
	background: #000000;
}

.carousel-caption p{
	margin-top: 30px;
	font-size: 1.3rem;
	letter-spacing: 5px;
}

@media (max-width: 993px){
	.carousel-inner{
		height: 500px;
	}

	.carousel-caption {
		font-weight: 300;
		bottom: 100px;
		width: 70%;
		margin: 0px auto;
	}

	.carousel-control-next-icon, .carousel-control-prev-icon {
		padding: 25px;
	}
}

@media (max-width: 450px){
	.carousel-inner{
		height: 400px;
	}

	.carousel-caption {
		font-weight: 300;
		bottom: 60px;
		right: 0%;
   		left: 0%;
		width: 90%;
		margin: 0px auto;
	}

	.carousel-control-next-icon, .carousel-control-prev-icon {
		padding: 25px;
		width: 20px;
		height: 20px;
	}

	.carousel-control-next, .carousel-control-prev {
		z-index: 10;
	}
}

/* block index */
.features{
	width: 100%;
	padding: 35px 0px;
	background-color: #fafafa;
	border-top: 1px solid #ebebeb; 
	border-bottom: 1px solid #ebebeb; 
}

.tab-nav{
	display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-justify-content: center;
	justify-content: center;
	width: 100%;
	padding: 15px 0px;
	border-top: 1px solid #e1e1e1; 
	border-bottom: 1px solid #e1e1e1; 
}

.tab-nav .lines{
	display: flex;
    display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: row;
	align-items: center;
	font-size: 1.2rem;
    line-height: 1.5;
}

.lines p{
	padding: 0px 25px;
}

.tab-nav .lines .ln{
	background-color: #dcdcdc;
	width: 1px;
    height: 30px;
	-o-transform: skewX(-20deg);
	-ms-transform: skewX(-20deg);
	-moz-transform: skewX(-20deg);
	-webkit-transform: skewX(-20deg);
	transform: skewX(-20deg);
}

@media (max-width: 993px){
	.tab-nav {
		flex-direction: column;
	}

	.tab-nav .lines .ln{
		display: none;
	}
}

.tab-images{
	-webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
	widows: 1;
	padding-top: 30px;
}

@media (max-width: 992px){

	.tab-images{
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}

}

@media (max-width: 400px){

	.tab-images{
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}

}

.tab-images a { 
	display: block; 
	position: relative; 
	margin-bottom: 30px;
}

.tab-images a:after { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(124,124,124,.5);  opacity: 0; }

.tab-images a:before { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: url(icon-path); opacity: 0; }

.tab-images a:hover:before,
.tab-images a:hover:after { opacity: 1; }

.tab-images img{
	width: 100%;
	height: auto;
}

.tab-btn{
	width: 100%;
	text-align: center;
	padding-top: 35px;
}

.tab-btn .btn-send {
    border-radius: 0px;
    background: #959595;
    border: 0px solid #959595;
    color: #ffffff;
    width: 125px;
}



/* about heading*/
.heading{
	width: 100%;
	height: 350px;
	padding: 115px 0px;
	text-align: left;
	border-top: 1px solid #e1e1e1; 
	background: no-repeat right/100% url(/img/about-heading.jpg);
	background-size: cover;
}

.heading h5 {
    font-size: 3.4rem;
    letter-spacing: 5px;
    color: #fff;
	background: #000000;
	width: 660px;
	padding: 0px 30px;
}

.heading p {
    margin-top: 30px;
    font-size: 1.3rem;
	letter-spacing: 5px;
}

@media (max-width: 768px){
	.heading h5 {
		width: auto;
		padding: 0px 10px;
	}
}

/* about story */
.our-story{
	display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
	justify-content: space-between;
	padding: 75px 0px;
}

.our-story .story-img{
	width: 530px;
	height: 660px;
}

.story-img img{
	min-width: 100%;
	height: 100%;
}

.about-carousel{
	width: 100%;
	height: 100%;
}

.our-story .story-info{
	max-width: 555px;
	margin-left: 30px;
}

.our-story .story-info .info-block{

}

.info-block h1{
	font-size: 1.2rem;
	color: #000000;
	font-weight: 400;
	letter-spacing: 5px;
	margin-bottom: 40px;
}

.info-block h2{
	font-size: 1rem;
	color: #2f302f;
	font-weight: 500;
}

.info-block p{
	font-size: 1rem;
	color: #777777;
	font-weight: 400;
	margin-bottom: 50px;
}

.info-block .form-group {
    margin-bottom: 0rem; 
}

@media (max-width: 993px){

	.our-story {
		flex-direction: column;
		-webkit-justify-content: center;
		justify-content: center;
		padding: 40px 0px;
	}

	.our-story .story-img {
		width: 100%;
		height: 500px;
		margin-bottom: 40px;
	}

	.story-img img {
		min-width: 100%;
		height: 100%;
	}

	.our-story .story-info {
		max-width: 500px;
		margin: 0px auto;
	}
}

.awesome-team{
	width: 100%;
}

.awesome-team .head{
	width: 590px;
	margin: 0px auto;
	text-align: center;
}

.awesome-team .head h1{
	font-size: 1.9rem;
	font-weight: 400;
	letter-spacing: 5px;
	color: #000000;
	margin-bottom: 45px;
}

.awesome-team .head p{
    font-size: 1rem;
    color: #777777;
    font-weight: 400;
    margin-bottom: 50px;
}

.awesome-team .body-team{
	display: flex;
    display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: column;
}

.awesome-team .body-team .team-line{
	display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
	justify-content: space-between;
}

.awesome-team .body-team .team-line .team{
	width: 31%;
}

.team .team-img{
	width: 100%;
	height: 440px;
	text-align: center;
	background-color: #eeeeee;
}

.team .team-img img{
	max-width: 100%;
	height: 100%;
}

.team .team-info{
	width: 100%;
	text-align: left;
	background-color: #ffffff;
	padding: 30px 0px;
}

.team .team-info p{
	font-size: 1rem;
    color: #777777;
	font-weight: 400;
	padding-top: 25px;
}

.team .team-info h1{
	font-size: 1.5rem;
    color: #041608;
	font-weight: 300;
	margin-bottom: .0rem;
}

.team .team-info h2{
	font-size: 1.2rem;
    color: #777777;
	font-weight: 700;
	margin-bottom: .0rem;
}

@media (max-width: 993px){

	.awesome-team .body-team .team-line {
		flex-direction: column;
	}

	.awesome-team .body-team .team-line .team {
		width: 80%;
		margin: 0px auto;
		margin-bottom: 20px;
	}
}

@media (max-width: 768px){

	.awesome-team .head {
		width: 90%;
		margin: 0px auto;
		text-align: center;
	}

	.awesome-team .body-team .team-line .team {
		width: 90%;
		margin: 0px auto;
		margin-bottom: 20px;
	}

}

/* footer */
.fot-logo{
	width: 100%;
	text-align: center;
	padding: 50px 0px;
}

.fot-social{
	width: 100%;
	border-top: 1px solid #ebebeb; 
	border-bottom: 1px solid #ebebeb; 
	padding: 25px 0px;
	color: #777777;
	text-align: center;
}

.fot-social i{
	margin: 0px 35px;
	cursor: pointer;
}

.fot-info{
	width: 100%;
	padding: 35px 0px;
	text-align: center;
	color: #9c9c9c;
}

.fot-info span{
	color: #000000;
}

.active{
	color: #000000;
}

.active a:hover {
	color: #000000;
}